* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    width: 150px;
    background-color: white;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.image{
    overflow: hidden;
    position: relative;
}

main img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}

main h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
}

main i{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.7s;
    font-size: 40px;
    background: linear-gradient(rgb(235, 142, 171), rgb(212, 14, 212));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
}