* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.outer{
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.inner{
    height: 20%;
    border-radius: 50px;
    background-color: darkgray;
    overflow: hidden;
}

.inside{
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
    border-radius: 50px;
    background-color: rgb(10, 10, 90);
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.para{
    font-weight: bold;
    font-size: 30px;
}

.btn{
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(10, 10, 90);
}

