* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    overflow: hidden;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    z-index: 50;
}

button:hover{
    transform: scale(0.95);
}