* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.boss{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.big{
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 7px;
}

button{
    height: 40px;
    width: 90px;
    font-size: 12px;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: darkcyan;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}